<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Cadastro | Sistema de Estoque</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<main class="page">
		<section class="section">
			<div class="container auth-wrapper">
				<div class="form-card">
					<h1>Cadastro</h1>

					<div th:replace="~{fragments/messages :: messages}"></div>

					<form th:action="@{/auth/cadastro}" method="post" class="form-grid">
						<div>
							<label for="nome">Nome</label>
							<input id="nome" type="text" name="nome" placeholder="Digite seu nome" />
						</div>

						<div>
							<label for="nif">NIF</label>
							<input id="nif" type="text" name="nif" placeholder="Digite seu nif" />
						</div>

						<div>
							<label for="senha">Senha</label>
							<input id="senha" type="password" name="senha" placeholder="Crie uma senha" />
						</div>

						<button class="button" type="submit">Criar Conta</button>
					</form>

					<p class="helper-text">
						Já tem conta?
						<a th:href="@{/login}">Faça Login</a>
					</p>
				</div>
			</div>
		</section>
	</main>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
